<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Missions to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
  <!-- Linking to css and javascript file under static folder -->
  <link rel="stylesheet" type="text/css" href= {{ url_for("static",filename="styles.css") }} >
  <script src= {{ url_for("static",filename="script.js") }} ></script>

</head>

<body>
  <div clas="container">
    <div class="jumbotron text-center">
      <h1>Missions to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button" onclick="myFunction()">Scrape New Data</a></p>
    </div>

    <!-- For Loader Animation -->
    <div class="row">
      <div class="col-12">
    <div id="loader"></div>
    <p id="load_info">{{ mars.loaded }}</p>
    <div id="alert_text" class="alert alert-warning text-center" role="alert">
      Please Do not close any Browser window opened while loading!
    </div>
    </div>
    </div>

    <div class="container animate-bottom" id="myDiv">

      <!-- mars data -->
      <div class="row">
        <div id="news" class="col-12">
          <h3>Latest Mars News</h3>
          <strong><p>{{ mars.news_title }}</p></strong>
          <p>{{ mars.news_p }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 col-sm-12">
          <h3>Featured Mars Image</h3>
          <img id="featured_img" src='{{ mars.featured_image_url }}' alt="Mars featured image"/>
        </div>
        <div class="col-md-4 offset-md-4 col-sm-12">
          <h4><strong>Mars Facts</strong></h4>
          {{ mars.mars_facts|safe }}
          <div id="table">
            <p id="load_table">{{ mars.loaded }}</p>
          </div>
        </div>
      </div>

      <br>
      <div class="row">
        <div class="col-12 text-center">
          <h3>Mars Hemispheres</h3>
          <hr>
        </div>
      </div>

      <div class="row">
        {% for hemi in mars.hemisphere_image_urls %}
        <div class="col-md-6 col-sm-12">
            <div class="card">
                <img class="card-img-top" src="{{hemi.img_url}}" alt="{{ hemi.title }} Image"/>
                <div class="card-body text-center">
                    <h5 class="card-title"><strong>{{ hemi.title }}</strong></h5>
                </div>
            </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</body>
</html>
